*{
    margin: 0px;
    padding: 0px;
}

.container {
  margin-left: auto;
  left: 800px;
  margin-top: 100px;
  width: 500px;
  height: 500px;
  margin: right;
  position: fixed;
  background-color: blue;
  width: 500px;
  height: 500px;
}

.logo {
  width: 500px; /* Ajustar al ancho del contenedor */
  height: auto; /* Mantener la proporción de la imagen */
  max-width: 500px; /* Limitar el tamaño máximo de la imagen */
  margin-right: 200px; /* Centrar la imagen si es necesario */
  top: 10px;
  left: auto; /* Empuja la imagen a la derecha */
  display: block; /* Asegúrate de que la imagen se comporte como un bloque */
  z-index: 0;
}

.imagen1 {
    width: 100px;
    height: 110px;
}

.cuadro1 {
  text-align: center;
  width: 120px;
  height: 115px;
  background-color: #f24456;
  position: absolute;
  left: 40px; 
  top: -20px;  
  transform: rotate(-25deg);
  border-radius: 15px;
}

.imagen2 {
  width: 105px;
  height: 110px;
}

.cuadro2 {
  text-align: center;
  background-color: #7922F2;
  width: 110px;
  height: 100px;
  position: absolute;
  left: 370px;
  top: 390px;
  border-radius: 15px;
  transform: rotate(-10deg);
}

.textos {
  background-color: blue;
  width: 700px;
  height: 500px;
  position: absolute;
  top: 0px;
}

.titulo {
  font-size: 80px;
  color: #f24455;
  margin-left: auto;
  position: absolute;
  left: 300px;
  top: 180px;
  text-align: center;
  font-family: "League Spartan", sans-serif;
}

h3 {
  margin-left: auto;
  position: absolute;
  left: 550px;
  top: 250px;
  color: #A772F2;
  font-size: 25px;
  font-family: "League Spartan", sans-serif;
}

h2 {
  font-size: 40px;
  margin-left: auto;
  position: absolute;
  left: 90px;
  top: 300px;
  font-family: "League Spartan", sans-serif;
}

button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #f24456;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  color: white;
  font-family: "League Spartan", sans-serif;
  margin-left: auto;
  position: absolute;
  left: 270px;
  top: 450px;
}


.scale-up-horizontal-left{animation:scale-up-horizontal-left 0.4s } @keyframes scale-up-horizontal-left{0%{transform:scaleX(.4);transform-origin:left center}100%{transform:scaleX(1);transform-origin:left center}}