<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalcPro - Contacto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
      <a href="index.html">
        <img src="../resource/Icon.png" class="icono" href="index.html">
        </a>
        <i class="fa-solid fa-bars"></i>
        <nav class="opciones" id="menu">
            <ul class="lista">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="contact.html">Contacto</a></li>
                <li><a href="calculator.html">Calculadora</a></li>
                <label
                      for="themeToggle"
                      class="themeToggle st-sunMoonThemeToggleBtn"
                      type="checkbox"
                    >
                      <input type="checkbox" id="themeToggle" class="themeToggleInput" />
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        stroke="none"
                      >
                        <mask id="moon-mask">
                          <rect x="0" y="0" width="20" height="20" fill="white"></rect>
                          <circle cx="11" cy="3" r="8" fill="black"></circle>
                        </mask>
                        <circle
                          class="sunMoon"
                          cx="10"
                          cy="10"
                          r="8"
                          mask="url(#moon-mask)"
                        ></circle>
                        <g>
                          <circle class="sunRay sunRay1" cx="18" cy="10" r="1.5"></circle>
                          <circle class="sunRay sunRay2" cx="14" cy="16.928" r="1.5"></circle>
                          <circle class="sunRay sunRay3" cx="6" cy="16.928" r="1.5"></circle>
                          <circle class="sunRay sunRay4" cx="2" cy="10" r="1.5"></circle>
                          <circle class="sunRay sunRay5" cx="6" cy="3.1718" r="1.5"></circle>
                          <circle class="sunRay sunRay6" cx="14" cy="3.1718" r="1.5"></circle>
                        </g>
                      </svg>
                    </label>
                
            </ul>
        </nav>
    </header>

    <section class="contact">
        <h2>CONTACTO</h2>
        <p>¿Tienes alguna <span>pregunta</span> o <span>sugerencia</span> sobre <strong>CalcPro</strong>? Nos encantaría saber de ti. Completa el formulario o usa nuestros datos de contacto directos.</p>

        <div class="form-container">
            <form>
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="Tu correo electrónico" required>

                <label for="telefono">Teléfono</label>
                <input type="tel" id="telefono" name="telefono" placeholder="Tu número de teléfono">

                <label for="mensaje">Mensaje</label>
                <textarea id="mensaje" name="mensaje" placeholder="Escribe tu mensaje aquí..." required></textarea>

                <button type="submit">Enviar</button>
            </form>
        </div>


    <script src="../js/contact.js"></script>

    </section>
